body {
    background-image: url(SmooothSituations_HomeCinema_Simplified_klarna.comhero_Desktop_1920x1080-2.jpg);
    height: 1000px;
    background-size:cover;
    background-position:75% 25%;
    background-repeat: no-repeat;
    z-index: -1;
    
}